{{template "base" .}}

{{define "title"}}Sign In{{end}}

{{define "header"}}
<link href="{{.BaseURL}}/public/styles/token.css" rel="stylesheet">
{{end}}

{{define "action"}}/token{{end}}

{{define "hidden_fields"}}
<input type="hidden" name="client_id" value="{{.Data.ClientID}}" />
{{end}}

{{define "body"}}
{{template "login_form" .}}
{{end}}
