.vscode/
config.local.yml

static/keys/*
!static/keys/test.private.pem
!static/keys/test.public.pem
!static/keys/firebase-test.json

amber
tools/migration_runner/migration_runner
tools/admin_creator/admin_creator
tools/config_generator/config_generator
