{{template "base" .}}

{{define "title"}}Sign In{{end}}

{{define "header"}}
<link href="{{.BaseURL}}/public/styles/login.css" rel="stylesheet">
{{end}}

{{define "action"}}/login{{end}}

{{define "login_form_title"}}Login{{end}}

{{define "body"}}
{{template "login_form" .}}
{{end}}
